/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*  wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #323D48;
    font-family: 'open+sans', sans-serif;
}

/* Header*/
header {
    min-height: 67px; /*make header same size as footer*/
    background-color: rgb(248, 136, 37);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #323D48;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration-line: none;
    color: white;
}

h1 {
    font-size: 1.7rem;
    letter-spacing: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}
#menu {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    list-style-type: none;
    font-weight: 700;
}

#menu>li {
    align-items: center;
}

.active {
    border-bottom: 1px solid white;
}

/*nav style with dropdown toggles */
nav {
    position: absolute;
    background-color: rgb(248, 136, 37);
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    box-shadow: 0 1px 2px #323D48;
    display: none;
    top: 100%;
}
/* nav  toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}


#hero {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h2{
    font-family: "Montserrat", sans-serif;
    color: #1e2124;
}
#hero-text {
    width: 100%;
    font-size: 2.7em;
    color: #1e2124;
    margin-top: 70px;
    padding-left: 5%; 
}
/*targeting only snd part of the text */
.text_red {
    color: #ED452B;
}

.hero-image img {
    size: 8em; /*testing *was 100% before */
    width: 100%;
    height: auto;   
    
}

/*excuses section*/

    
#excuses h2 {
    position: relative;
    text-align: center;
    padding:20px 0px 20px;
    color: #013120;
}
#excuses_list {
    display: flex;
    flex-wrap:wrap;
    padding:9%;
    letter-spacing: 1px;
}

#excuses_vaildation
{
    background-color: #323D48;
    display:flex;
    flex-direction: row;
}
h3 {font-size: 2em;
    text-align: center;
    justify-content: space-around;
    margin-bottom:5%;
    margin-top:5%;
}
#excuses_vaildation div {
    background-color: white;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
}

i {
    color:#323D48;
    padding:10%
}
.yes {
    color: #F9943B;

}
.no {
    color:#B9CABD ;
}

/* Footer */

footer {
    background-color: rgb(204, 216, 206);
}

#social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-links i {
    color: #323D48;
    font-size: 150%;
    padding: 5%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {


    /* Header */
    nav {
        display:block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }


    .nav-toggle-label {
        display: none;
    }


    #logo {
        font-size: 280%;
        line-height: 60px;
        margin: 0 0.5rem;
    }
    #hero {
        flex-direction: row;
    }
    /*added padding to create space between pict and text*/
    .hero-image {
        width: 95%;
        padding-top: 65px;
        padding-left:20px;
    }

    #top_tips

    /* Main content 
    main {
        /* Push main content down to accommodate larger header 
        margin-top: 78px;
    }
}

Large devices (laptops and desktops, 992px and up) 
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid white;
    }

*/ 