/*google style import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*  wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 100vh;
    /* this pushes footer down*/
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #323D48;
    font-family: "Open Sans", sans-serif;
}

/* Header*/
header {
    min-height: 67px;
    /*make header same size as footer*/
    background-color: rgb(248, 136, 37);
    padding: 0 0.6em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #323d48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}


header a {
    text-decoration-line: none;
    color: white;
}

h1,
h3 {
    font-family: "Montserrat", sans-serif;
    color: #323d48;
    letter-spacing: 1px;
}

#logo {
    font-weight: 800;
    letter-spacing: 0.3px;
    color: white;
    font-size: 30px;
}

#menu {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    list-style-type: none;
    font-weight: 700;
    font-size: 110%;
}

#menu>li {
    align-items: center;
}

.active {
    border-bottom: 1px solid white;
}

/*nav style with dropdown toggles */
nav {
    position: absolute;
    background-color: rgb(248, 136, 37);
    width: 100%;
    left: 0%;
    padding: 0px 0px 0px 10px;
    box-shadow: 0 1px 2px #323D48;
    display: none;
    top: 105%;
    line-height: 200%;
    /* expands menu for better user experience*/
}

/* nav  toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

.fa-solid.fa-burger {
    color: #fff;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 67px;
}

#hero {
    display: flex;
    flex-direction: column;
}

.hero-text {
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 10px 0;
}

/*targeting only snd part of the text */
.text_red {
    color: #ED452B;
}

.hero-image {
    flex-grow: 2;
}

.hero-image img {
    width: 100%;
    /* Responsive and scales with its container */
    height: auto;
}

/*excuses section*/
.excuses {
    display: flex;
   margin-top:15px;
   gap:10px;
    /*creating gap across all items*/
    flex-direction: column;
    margin-bottom: 30px;

}

.excuses_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: #323d48bf;
    text-align: center;
    line-height: 25px;
    padding: 10px 20px;
}

.excuses_title>h3 {
    text-shadow: none;
    border: 3px solid #323d48;
    background-color: #ffffff;
    border-radius: 5px 20px;
    margin: 0px 10%;
    color:#323D48;
    padding:5px;
}

.excuses_title>i {
    color: #323D48cc
}

.excuses_list {
    color:#323D48;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 20px 40px;
}

.excuses_vaildation {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: baseline;
 
}

i {
    size: 3px;
    padding:2px;
    color: #323D48;
}

.fa-solid.fa-arrow-down {
    size: 10px;
}

.yes,
.no {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 40px;
    font-size: 20px;
}

.yes,
.yes>h3 {
    color: white;
    background-color: #8eb196;
    border-radius: 5px 20px;
}


.no,
.no>h3 {
    color: white;
    background-color: rgb(248, 136, 37);
    border-radius: 5px 20px;
}

.yes>h3,
.no>h3 {
    padding-top: 5px;
    color: #323D48;
}

.yes a {
    color: #323D48;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.top_tips >h2 {
    padding: 15px 200px;
}

.top_tips {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    gap: 30px;
    /* background-image: url(../images/computer.webp); 
    background-position: 70%;
    background-color: #323D48cc; */
}

.essentials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.essentials>h3 {
    
}

.essentials>p,
.tip_sleep>p {
    padding: 0 20px;
}
.essentials hr,
.tip_sleep hr {
    border-top: 2px solid #323D48;
    margin: 5px 25px;
}

/* Contact Form */
    .signup {
        display: flex;
        margin-top: 67px;
        background-image: url(../images/hourglass.webp);
        background-size: cover;
        background-position: 73%;
        padding: 20px 10% 0 10%;
        flex-grow: 1;
        max-height: 100%;
    }


.signup-form>h2{
    color:white;
    margin-bottom: 30px;
}

.text-input {
    color: #323d48;
    width: 100%;
    height: 25px;
    margin: 5px 0px;
    border: 1px solid #4F6955;
    border-radius: 1px;
}

.radio {
    border-radius: 0% 20%;
    background-color: #ffffff9c;
    border: 2px solid #323d48;
    padding:8%;
    text-align: left;
    letter-spacing: 1px;
    margin-top:15%;
    max-width: 300px;
} 

.radio>h3 {
    margin-bottom: 25px;
}
.letsgo {
    margin: 20px 0px;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 100%;
    background-color: #DA6907;
    color: #ffffff;
}
#form>label{
    color:white;
}
form div{
    margin-bottom: 15%;
}

/* Footer */

footer {
    background-color: #323d48;
}

#social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-links i {
    color: white;
    font-size: 150%;
    padding: 5%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        /*padding-right: 1rem; */
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }


    .nav-toggle-label {
        display: none;
    }


    #logo {

        line-height: 60px;
        margin: 0 0.5rem;
    }

    main {
        flex: 1 0 auto;
        margin-top: 67px;
    }

    #hero {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        /* Ensures content is spaced properly */
        align-items: center;
    }

    /*added padding to create space between pict and text*/
    .hero-image {
        max-width: 65vw;
        padding-left: 20px;
    }

    .hero-text {
        margin-top: 40px;
        font-size: 3vw;
        padding-left: 40px;
    }

    .clarity,
    .focus {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .clarity>div,
    .focus div {
        width: 70%;
    }

    .focus {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
    }
    .excuses_list {

        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .excuses_vaildation {
        justify-content: space-evenly;
    }

    #signup {
        display: flex;
        flex-direction: row;
    }

    /*Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 2px solid white;
        }
    }
}